name = "hardly-know-her-telegram-bot"
main = "src/main.js"
compatibility_date = "2024-01-01"
send_metrics = true
kv_namespaces = [
  { binding = "KV_STORE", id = "5f1b958a44be4df5b768ddb5e420da1e" },
]

rules = [{ type = "ESModule", globs = ["**/*.js"], fallthrough = true }]

[triggers]
crons = ["*/5 * * * *", "0 8 * * *"]

[[d1_databases]]
binding = "DB"                                       # i.e. available in your Worker on env.DB
database_name = "davebase"
database_id = "2e365f03-579a-4576-a81f-8faee4d6057c"
