name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deploy:
    name: Deploy To Production On Push To Main
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    environment: cloudflare
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v2
      - name: Deploy to Cloudflare
        # working-directory: dave_bot
        uses: ./.github/actions/cloudflare-deploy-action
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          telegramApiKey: ${{ secrets.TELEGRAM_API_KEY }}
          telegramWebhookSecret: ${{ secrets.TELEGRAM_WEBHOOK_SECRET }}
          scrapflyApiKey: ${{ secrets.SCRAPFLY_API_KEY }}
          openAiKey: ${{ secrets.OPEN_AI_KEY }}
          lokiUsername: ${{ secrets.LOKI_USERNAME }}
          lokiPassword: ${{ secrets.LOKI_PASSWORD }}
          godId: ${{ secrets.GOD_ID }}
          mainChatId: ${{ secrets.MAIN_CHAT_ID }}
          workingDirectory: 'dave_bot'
          environment: 'production'
          workerUrl: 'https://hardly-know-her-telegram-bot.makspl17.workers.dev'
      - name: On Deploy Hooks
        uses: ./.github/actions/run-node-callback
        with:
          workingDirectory: 'on_deploy'
          nodeVersionFile: '.nvmrc'
          env: |
            TELEGRAM_WEBHOOK_SECRET: ${{ inputs.telegramWebhookSecret }}
            TELEGRAM_API_KEY: ${{ inputs.telegramApiKey }}
            OPEN_AI_KEY: ${{ inputs.openAiKey }}
            GOD_ID: ${{ inputs.godId }}
            MAIN_CHAT_ID: ${{ inputs.mainChatId }}
            LOKI_USERNAME: ${{ inputs.lokiUsername }}
            LOKI_PASSWORD: ${{ inputs.lokiPassword }}
            ENVIRONMENT: ${{ inputs.environment }}
            SCRAPFLY_API_KEY: ${{ inputs.scrapflyApiKey }}
            WORKER_URL: ${{ inputs.workerUrl }}

  pr-deploy:
    name: Deploy To Staging On PR
    if: github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository
    runs-on: ubuntu-latest
    environment: cloudflare-staging
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v2
      - name: Deploy to Cloudflare
        uses: ./.github/actions/cloudflare-deploy-action
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          telegramApiKey: ${{ secrets.TELEGRAM_API_KEY }}
          telegramWebhookSecret: ${{ secrets.TELEGRAM_WEBHOOK_SECRET }}
          scrapflyApiKey: ${{ secrets.SCRAPFLY_API_KEY }}
          openAiKey: ${{ secrets.OPEN_AI_KEY }}
          lokiUsername: ${{ secrets.LOKI_USERNAME }}
          lokiPassword: ${{ secrets.LOKI_PASSWORD }}
          godId: ${{ secrets.GOD_ID }}
          mainChatId: ${{ secrets.MAIN_CHAT_ID }}
          configPath: 'wrangler.staging.toml'
          workingDirectory: 'dave_bot'
          environment: 'staging'
          workerUrl: 'https://hardly-know-her-telegram-bot-staging.makspl17.workers.dev'
      - name: On Deploy Hooks
        uses: ./.github/actions/run-node-callback
        with:
          workingDirectory: 'on_deploy'
          nodeVersionFile: '.nvmrc'
          env: |
            TELEGRAM_WEBHOOK_SECRET: ${{ inputs.telegramWebhookSecret }}
            TELEGRAM_API_KEY: ${{ inputs.telegramApiKey }}
            OPEN_AI_KEY: ${{ inputs.openAiKey }}
            GOD_ID: ${{ inputs.godId }}
            MAIN_CHAT_ID: ${{ inputs.mainChatId }}
            LOKI_USERNAME: ${{ inputs.lokiUsername }}
            LOKI_PASSWORD: ${{ inputs.lokiPassword }}
            ENVIRONMENT: ${{ inputs.environment }}
            SCRAPFLY_API_KEY: ${{ inputs.scrapflyApiKey }}
            WORKER_URL: ${{ inputs.workerUrl }}
