name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deploy:
    name: Deploy To Production On Push To Main
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    environment: cloudflare
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v2
      - name: Deploy to Cloudflare
        # working-directory: dave_bot
        uses: ./.github/actions/cloudflare-deploy-action.yml
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          telegramApiKey: ${{ secrets.TELEGRAM_API_KEY }}
          openAiKey: ${{ secrets.OPEN_AI_KEY }}
          godId: ${{ secrets.GOD_ID }}
          mainChatId: ${{ secrets.MAIN_CHAT_ID }}
          workingDirectory: 'dave_bot'
      - name: On Deploy Hooks
        uses: ./.github/actions/run-node-callback.yml
        with:
          args: '${{ secrets.TELEGRAM_API_KEY }} ${{ secrets.TELEGRAM_WEBHOOK_SECRET }} ${{ secrets.TELEGRAM_WEBHOOK_URL }}'          
          workingDirectory: 'on_deploy'
          nodeVersionFile: '.nvmrc'

  pr-deploy:
    name: Deploy To Staging On PR
    if: github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository
    runs-on: ubuntu-latest
    environment: cloudflare-staging
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v2
      - name: Deploy to Cloudflare
        uses: ./.github/actions/cloudflare-deploy-action
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          telegramApiKey: ${{ secrets.TELEGRAM_API_KEY }}
          openAiKey: ${{ secrets.OPEN_AI_KEY }}
          godId: ${{ secrets.GOD_ID }}
          mainChatId: ${{ secrets.MAIN_CHAT_ID }}
          configPath: 'wrangler.staging.toml'
          workingDirectory: 'dave_bot'
      - name: On Deploy Hooks
        uses: ./.github/actions/run-node-callback
        with:
          args: '${{ secrets.TELEGRAM_API_KEY }} ${{ secrets.TELEGRAM_WEBHOOK_SECRET }} ${{ secrets.TELEGRAM_WEBHOOK_URL }}'          
          workingDirectory: 'on_deploy'
          nodeVersionFile: '.nvmrc'
